canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}

#animals {
  	z-index: 0;
}

#background {
  	z-index: -1;
}

#stopwatch {
	color: white;
}

/* body {
	background: whiteSmoke;
}

canvas {
	display: block;
	margin: 20px auto;
} */
